@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a href="http://localhost:55340/users"> Users </a>
</div>
<hr/>
<div>
    <a href="http://localhost:55340/LeaveTypeClasses"> LeaveTypeClasses </a>
</div>
<hr />
<div>
    <a href="http://localhost:55340/leaves"> Leaves </a>
</div>